@font-face {
  font-family: "FiraCode Nerd Font";
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: local("FiraCodeNerdFont-Regular"),
       url("/fonts/FiraCodeNerdFont-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "FiraCode Nerd Font";
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: local("FiraCodeNerdFont-Bold"),
       url("/fonts/FiraCodeNerdFont-Bold.woff2") format("woff2");
  font-display: swap;
}
